.search-bar {
  display: flex;
  flex-direction: row;
  background-color: #7286d3;
  align-items: center;
  min-height: 200px;
  width: 80%;
  color: white;
}

.page-logo {
  display: flex;
  flex: 0.5;
  justify-content: center;
}
.search-container {
  flex: 1;
}

.info p {
  padding: 0;
  margin: 0;
}

.search-row {
  display: flex;
  font-size: 12px;
}

.search-row > div {
  width: 120px;
}

.search-button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.search-button:hover {
  background-color: rgb(63, 60, 60);
}

@media only screen and (max-width: 960px) {
  .search-bar {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .info {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .search-bar {
    width: 100%;
  }
  .search {
    display: flex;
    justify-content: center;
  }
  .search-row:first-child {
    display: none;
  }
  .search-row {
    gap: 5px;
    flex-direction: column;
  }
}
