.games-container {
  display: flex;
  width: 80%;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
  background-color: #7286d3;
  min-height: 200px;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  color: #fff2f2;
}

.game-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.game-card div,
a {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail {
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin-bottom: 5px;
}

.search-message {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 600px) {
  .game-container {
    width: 80%;
  }
}
