.games-container {
  width: 80%;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  background-color: #7286d3;
  padding-top: 10px;
  margin-bottom: 20px;
  border-color: #fff2f2;
}

.games-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff2f2;
  gap: 20px;
}

.game-card {
  display: flex;
  background-color: #7286d3;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: white;
}

.game-card > div,
a {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail div {
  display: inline;
  padding-right: 10px;
}

.search-message {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  line-height: 30px;
}

@media only screen and (max-width: 600px) {
  .games-container {
    width: 90%;
    background: none;
    border: none;
  }
}
