

.navBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: calc(30px + 5vw);
    padding-right: 20px;
    height: 50px;
    background-color: whitesmoke;
    text-align: center;   
}

li {
    list-style-type: none;
    cursor: pointer;
  }
  
ul { 
    padding: 0px;
    margin: 0;
}

.nav-button {
    width: 90px;
    height: 30px;
    font-weight: 700;
}

.mweb-logo {
    padding-left: 20px;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

.nav-button:hover {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-menu-button {
    display: none;
}

.nav-dropdown-menu{
    display: none;
    position: absolute;
    width: 100%;
}

.dropdown-show {
    display:inline;
}

.dropdown-item {
        padding: 10px;
        color: whitesmoke;
        background: linear-gradient(to right, gray 10%, black 80%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: background 0.5s ease-out;   
}

.dropdown-item:hover {
    cursor: pointer;
    background-position: left bottom;
}

/* Mobile */ 
@media only screen and (max-width: 600px) {
    .nav-button {
        display: none;
    }
    .nav-menu-button {
        display:block;
    }
}

@media only screen and (min-width:601px) {
    .dropdown-show {
        display:none
    }
}